html, body {
  margin: 0;
  padding: 0;
  background: url("https://cdn.glitch.global/f3e32e13-0ea0-4d6a-8ff6-08a1a5d9bc9f/cloud.jpg?v=1669930911908") no-repeat center fixed;
  background-size: 200% 200%; 
}

*{transition: .2s linear;}

canvas {display: block;}

button{
  display:block;
  width: 300px;
  padding:30px;
  font-size: 50px;
  margin: 50px auto 50px auto;
  border-radius: 50%;
  box-shadow: 0px 0px 0px #000;
  transform: translateX(0px) translateY(0px);
}

.happy{background-color:rgb(240, 119, 234)}
.sad{background-color:rgb(50, 207, 255)}
.meh{background-color:rgb(114, 255, 130)}

button:hover{
  box-shadow: 6px 6px 0px #000;
  transform: translateX(-6px) translateY(-6px);
}